* {
    outline: 0;
}

body {
    font-family: Georgia, FreeSerif, Times, serif;
    color: #222;
    margin: 0;
    padding: 0;
    height: 100%;
}

.handy-layout {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    min-width: 320px;
    background-color: white;
}

.handy-word {
    list-style-type: none;
    margin: -100px 0 0 -160px;
    padding: 0;
    width: 320px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
}

.handy-word-item {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}

.handy-word-item._word {
    font-size: 42px;
    height: 75px;
    line-height: 75px;
}

.handy-word-item._hidden {
    visibility: hidden;
}

.handy-counter {
    position: absolute;
    bottom: 100px;
    left: 50%;
    height: 10px;
    width: 100px;
    margin-left: -50px;
    text-align: center;
    color: #777;
    font-size: 14px;
}

.handy-loading {
    background: rgba(256, 256, 256, 0.98) url("./spinner.gif") center no-repeat;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 2;
}
